body{
  background-color: #272727;
  font-family: arial;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #cee002;
}
.container{
  margin-right: 70px;
  margin-left: 60px;
  overflow: hidden;
}
nav.container{
  height: 100px;
  box-sizing: border-box;
  padding-top: 30px;
}
nav.container li{
  float: left;
}
/******************************/
.brand{
  float: left;
  width: 780px;
  height: 32px;
}
.logo:before{
  content: "\25AC";
  color: #272727;
  display: block;
  transform: rotate(-45deg) translate(-10px, -6px);
}
.logo{
  display: block;
  height: 22px;
  width: 22px;
  border: 5px solid white;
}
.first{
  display: block;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  width: 0;
  height: 0;
  top: -35px;
  left: 45px;
  color: white;
}
.brand>li:first-child>a span:last-child{
  display: block;
  position: relative;
  font-size: 13px;
  width: 0;
  height: 0;
  color: grey;
  top: -11px;
  left: 45px;
}
.brand>li:last-child{
  float: right;
  margin-top: 11px;
}
.brand>li:last-child>a{
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.brand>li:last-child>a>span{
  color: grey;
  text-transform: uppercase;
}
.menu{
  float: right;
  height: 46px;
  width: 400px;
  border-left: 1px solid grey;
  margin-top: -3px;
}
.menu>li:first-child{
  margin-left: 60px;
  font-size: 22px;
  margin-top: 10px;
}
.menu>li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
  margin-top: 14px;
  margin-left: 30px;
  font-size: 18px;
}
.menu>li:last-child{
  margin-top: 10px;
  margin-left: 113px;
  font-size: 25px;
}
